a {
  color: #2F4E84;
}

a:hover {
  color: #26272C;
  text-decoration: none;
}

.header img {
  float: right;
}

.jumbotron {
  background-color: inherit;
}

.jumbotron p {
    color: #A39A8B;
}

.projects {
  margin-top: 20px;
}

.projects .panel-heading {
  background-color: #2F4E84;
}

.projects h2{
  color: #FFFFFD;
  font-size: 25px;
  font-weight: bold;
}

.projects h3 {
  font-size: 20px;
}

.projects .col-md-4 {
  border-color: #A39A8B;
  border-style: solid;
  border-width: thin;
  border-radius: 10px;
  padding: 5px;
  margin: 5px;
}

.about .panel-heading {
  background-color: #2F4E84;
}

.about h2{
  color: #FFFFFD;
  font-size: 25px;
  font-weight: bold;
}

.education ol {
  list-style: none;
}

.experience ol {
  list-style: none;
}
