a {
  color: #2F4E84;
}

a:hover {
  color: #26272C;
  text-decoration: none;
}

.header img {
  float: right;
}

.jumbotron {
  background-color: inherit;
}

.jumbotron p {
    color: #A39A8B;
}

.projects {
  margin-top: 20px;
}

.projects .panel-heading {
  background-color: #2F4E84;
}

.projects .panel-body {
  background-color: #A39A8B;
}

.projects .panel-body p:first-child {
    color: #FFFFFD;
}

.projects h2{
  color: #FFFFFD;
  font-size: 25px;
  font-weight: bold;
}

.projects h3 {
  font-size: 20px;
}

.about .panel-heading {
  background-color: #2F4E84;
}

.about .panel-body {
  background-color: #A39A8B;
}

.about .panel-body p:first-child {
    color: #FFFFFD;
}

.about h2{
  color: #FFFFFD;
  font-size: 25px;
  font-weight: bold;
}

.about h3 {
  font-size: 20px;
}

.education ol, .experience ol {
  list-style: none;
}

.education li, .experience li {
  margin-top: 15px;
}

.footer {
  color: #A39A8B;
}
